<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all">
  </head>
  <body>

      <div>
       <!-- I'm using a Bootstrap grid layout to make the page responsive and clean -->
       <div class="toggled" id="page-content-wrapper">
           <main>
               <section>
                   <div class="container">
                       <div class="row">

                           <div class="headerDiv col-lg-12">
                               <h1>${title}<br> (${code})</h1>
                           </div>
                       </div>
                       <br>
                       <div class="row panel">
                           <div class='panel col-lg-4 row'>
                               ${gameExplanation}
                               <br><br>
                               <div id="stats">
                               <p>
                               <!-- User stats are displayed on page load and repopulated during gameplay with jQuery/AJAX -->
                               <strong>User Stats:</strong><br>
                                   Wins: {{ stats.win }}<br>
                                   Losses: {{ stats.lose }}<br>
                                   Draws: {{ stats.draw }}<br>
                                   <br>
                                   <!-- Looping through the user and computer gestures -->
                                   <strong>User Gestures:</strong><br>
                                   {% for gestures in stats.user_gestures %}
                                       {{ gestures.gesture_count }} {{ gestures.gesture }}<br>
                                   {% endfor %}
                                   <br>
                                   <strong>Computer Gestures:</strong><br>
                                   {% for gestures in stats.user_gestures %}
                                       {{ gestures.gesture_count }} {{ gestures.gesture }}<br>
                                   {% endfor %}


                               </p>
                               </div>
                           </div>
                           <div class="playerPanel col-lg-8">

                               <h2>${challengeMsg}</h2>

                               <!-- Looping through the player gestures that will be clicked by the user to play-->
                               ${guestures.map(g=>`
                                  <span id="${g.name}" class="hand_gesture">
                                    <i class="${ g.font_awesome }" aria-hidden='true'></i>
                                    ${g.name}
                                  </span>
                               `).join('')
                               }

                               <br><br>

                               <div class='playerPanel col-lg-4'>
                                   <h2>Player 1 (You)</h2>
                                   <div id="p1Panel"></div>
                                   <br>
                               </div>
                               <div class='playerPanel col-lg-4'>
                                   <h2>Battle</h2>
                                   <div id="battlePanel"></div>
                                   <br>
                               </div>
                               <div class='playerPanel col-lg-4'>
                                   <h2>Player 2 (PC)</h2>
                                   <div id="p2Panel"></div>
                                   <br>
                               </div>
                               <br><br><br><br>
                               <div class=' col-lg-12'>
                                   <br><p>
                                   ${exampleInfo}
                                   </p>
                               </div>
                           </div>




                       </div>


                   </div>
               </section>
           </main>
       </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
